:root {
  /* --soyjavi-calendar-cell: var(--space-XXL); */
  --soyjavi-calendar-cell: 56px;
}

.calendar {
  width: calc(var(--soyjavi-calendar-cell) * 7);
}

.title {
  flex: 1;
  margin-bottom: var(--space-XS);
  text-align: center;
}

.cell {
  flex: 1;
  overflow: hidden;
  text-align: center;
}

.weekdays {
  margin: var(--space-XS) 0;
}

.weekday {
  color: var(--lighten);
}

.cellDay {
  align-items: center;
  justify-content: center;
  width: var(--soyjavi-calendar-cell);
  height: var(--soyjavi-calendar-cell);
  margin: 0 auto;
}

.cellDaySelected {
  background-color: var(--primary);
}

.cellDayRange:not(.cellDaySelected) {
  background-color: var(--disabled);
}

.cellDayRangeLimits {
  background-color: var(--content);
}

.textDisabled {
  color: var(--disabled);
}

.textSelected {
  color: var(--base);
}

.cellTouchable:hover {
  background-color: var(--lighten);
}

.caption {
  white-space: pre-wrap;
  height: var(--font-size-small);
  max-width: calc(var(--soyjavi-calendar-cell) * 0.8);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
