:root {
  --soyjavi-calendar-cell: calc(var(--space-XXL) - var(--space-XS));
}

.calendar {
  width: calc(var(--soyjavi-calendar-cell) * 7);
}

.title {
  flex: 1;
  margin-bottom: var(--space-XS);
  text-align: center;
}

.cell {
  flex: 1;
  overflow: hidden;
  text-align: center;
}

.weekdays {
  margin: var(--space-XS) 0;
}

.weekday {
  color: var(--lighten);
}

.day {
  align-items: center;
  justify-content: center;
  width: var(--soyjavi-calendar-cell);
  height: var(--soyjavi-calendar-cell);
  margin: 0 auto;
}

.daySelected {
  background-color: var(--primary);
}

.dayRange:not(.daySelected) {
  background-color: var(--disabled);
}

.dayRangeLimit {
  background-color: var(--content);
}

.dayTouchable:hover {
  background-color: var(--lighten);
}

.textDisabled {
  color: var(--disabled);
}

.textSelected {
  color: var(--base);
}

.caption {
  white-space: pre-wrap;
  height: var(--font-size-small);
  margin-top: calc(var(--space-XS) / 2);
  max-width: calc(var(--soyjavi-calendar-cell) * 0.8);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
